* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    
    color: white;
    overflow: hidden;

    font-family: 'Dongle';
}

header{
    height: 64px;
    width: 100vw;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 86.6vh;

    background-color: #00224D;
}

footer{
    position: absolute;
    bottom: 0;
    height: 64px;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    font-family: 'Caveat';
}

header, footer, html{
    background-color: #001939;
}

.game-info-window{
    background-color: #002759;
    border-radius: 6%;

    width: 640px;
    height: 400px;
}

.game-info-window > .score-info{
    font-size: 30pt;

    width: 640px;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game-info-window > #timer{
    position: absolute;
    background-color: transparent;

    width: 640px;
    text-align: end;

    padding-right: 20px;
    padding-top: 10px;

    font-size: 28pt;
}

.game-info-window > #score{
    position: absolute;
    background-color: transparent;

    width: 640px;
    text-align: start;

    padding-left: 20px;
    padding-top: 10px;

    font-size: 28pt;
}

.game-info-window > #question{
    position: absolute;
    background-color: transparent;

    width: 640px;
    height: 400px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: end;

    font-size: 32pt;

    padding-bottom: 30px;
}

.game-info-window > .element-card-container{
    position: absolute;
    background-color: transparent;

    width: 640px;
    height: 400px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.element-card-container > .element-card{
    font-size: 100pt;
    color: black;

    background-color: white;

    width: 192px;
    height: 192px;
    border-radius: 16%;

    margin-bottom: 58px;
}

#game-answer-buttons-container{
    background-color: transparent;
    margin-top: 64px;

    width: 640px;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

#game-answer-buttons-container > button{
    flex: 0 0 auto;
    width: 256px;
    height: 50px;
    border: none;

    border-radius: 25px;

    font-family: 'Dongle';
    font-size: 28pt;
}

#main-menu-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#main-menu-container > button{
    flex: 0 0 auto;
    width: 256px;
    height: 50px;
    border: none;

    border-radius: 25px;

    font-family: 'Dongle';
    font-size: 28pt;
}



